{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SKYHARD GYM{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="{% static 'images/logo.png' %}" alt="SKYHARD GYM Logo" class="logo">
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'sobre' %}">Sobre</a></li>
                <li><a href="{% url 'plano' %}">Planos</a></li>
                <li><a href="{% url 'treinadores' %}">Treinadores</a></li>
                <li><a href="{% url 'cadastro' %}">Cadastro</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock %}
    <footer>
        <p>© 2025 SKYHARD GYM. Todos os direitos reservados.</p>
    </footer>
</body>
</html>