{% extends 'site_academia/base.html' %}

{% block title %}Contato - SKYHARD GYM{% endblock %}

{% block content %}
<section id="contato">
    <h2>Entre em Contato</h2>
    <p>Para mais informações ou dúvidas, entre em contato conosco:</p>
    <p>Email: contato@minhaacademia.com</p>
    <p>Telefone: (XX) XXXXX-XXXX</p>
    <form action="#" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>
        <label for="mensagem">Mensagem:</label>
        <textarea id="mensagem" name="mensagem" required></textarea>
        <button type="submit">Enviar</button>
    </form>
</section>
{% endblock %}
