{% extends 'site_academia/base.html' %}

{% block title %}Alterar Senha{% endblock %}

{% block content %}
  <h2>Alterar Senha</h2>
  
  <div id="alterar-senha-form">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Alterar Senha</button>
    </form>
    <p><a href="#" id="link-esqueci-senha" style="color: blue; text-decoration: underline;">Esqueci minha senha</a></p>
  </div>

  <div id="redefinir-senha-form" style="display: none;">
    <form method="post" action="{% url 'esqueceu-senha' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Enviar Link de Redefinição</button>
    </form>
    <p><a href="#" id="link-alterar-senha" style="color: blue; text-decoration: underline;">Voltar para Alterar Senha</a></p>
  </div>

  <script>
    document.getElementById("link-esqueci-senha").addEventListener("click", function() {
      document.getElementById("alterar-senha-form").style.display = "none";
      document.getElementById("redefinir-senha-form").style.display = "block";
    });

    document.getElementById("link-alterar-senha").addEventListener("click", function() {
      document.getElementById("redefinir-senha-form").style.display = "none";
      document.getElementById("alterar-senha-form").style.display = "block";
    });
  </script>
{% endblock %}
