{% extends 'site_academia/base.html' %}

{% block title %}Sobre - SKYHARD GYM{% endblock %}

{% block content %}
  <div class="sobre-container">
    <h2 class="sobre-titulo">Sobre Nós</h2>
    <div class="sobre-texto">
      <p>
        Somos uma academia <strong>DIFERENCIADA</strong>, mantendo a essência do <strong>bodybuilding</strong>, em conjunto com um treino otimizado e de qualidade. Nossa missão é proporcionar um ambiente acolhedor e motivador, onde todos podem alcançar seus objetivos de forma saudável e eficiente.
      </p>
      <p>
        Acreditamos que cada pessoa tem seu próprio ritmo e, por isso, oferecemos <strong>Planos personalizados</strong> que atendem a diferentes necessidades e níveis de condicionamento físico. Nossos treinadores são altamente capacitados e estão sempre prontos para oferecer o suporte necessário, ajudando você a superar seus limites e conquistar os resultados desejados.
      </p>
      <p>
        Na nossa academia, você encontrará mais do que apenas equipamentos de última geração e planos de treinamento inovadores. Aqui, estamos focados no seu progresso, na sua saúde e na sua satisfação. <strong>Junte-se a nós</strong> e faça parte de uma jornada de transformação física e mental!
      </p>
    </div>
  </div>
{% endblock %}